{% extends "layout.html" %}

{% block title %}
About
{% endblock %}

{% block main %}


    <div class="container-about"> 
        <div class="about-box">
            <h6>About Us</h6>
            <h3>Helping students stay organized in their journey of applying to internships</h3>
            <p> 
                We are a group of students who are passionate about helping 
                other students stay organized in their journey of applying to 
                internships. We understand how stressful it can be to keep track 
                of all the applications you have submitted, and we want to help 
                you stay organized.
            </p>
        </div>
        <img src="/static/about.png" alt="About us image" class="about-image">
    </div>



{% endblock %}
