{% extends "layout.html" %}

{% block title %}
    Add Job Application
{% endblock %}

{% block main %}
<div class="add-box">
    <h4>Add Job Application</h4>
    <form action="/add" method="post">
        <div class="mb-3">
            <label for="job_title">Job Title: </label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto d-inline-block" name="job_title" id="job_title" placeholder="Job Title" type="text">
        </div>
        <div class="mb-3">
            <label for="company">Company Name: </label>
            <input class="form-control mx-auto w-auto d-inline-block" name="company" placeholder="Company Name" type="text">
        </div>
        <div class="mb-3">
            <label for="salary">Salary: </label>
            <input class="form-control mx-auto w-auto d-inline-block" name="salary" placeholder="$" type="number">
        </div>
        <div class="mb-3">
            <label for="date">Date Applied: </label>
            <input class="form-control mx-auto w-auto d-inline-block" name="date" placeholder="Date Applied" type="date">
        </div>
        <div class="mb-3">
            <label for="location">Location: </label>
            <input class="form-control mx-auto w-auto d-inline-block" name="location" placeholder="Location" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add Application </button>
    </form>
</div>
{% endblock %}