{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
    <div class="rf-box">
        <h4>Create an account</h4>
        <form action="/register" method="post">
            {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {% endif %}
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="email" placeholder="Email" type="email" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="confirm_email" placeholder="Confirm Email" type="email" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password" required>
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>
{% endblock %}
