{% extends "layout.html" %}

{% block title %}
    Resources
{% endblock %}

{% block main %}
<h1 style="text-align: left;">Resources</h1>
<hr>
<h4 style="text-align: left;">Tools you need to succeed!</h4>
<p style="text-align: left;">Learn how to best highlight your experiences and skills to impress a prospective employer 
   in job application documents, demonstrating your fit for the job and increasing your chances of securing
   an interview or landing your dream job! 
</p>
<hr>
<h3>Resume: Tips and Template</h3>
<div class="d-flex justify-content-center">
<div class="w-75" justify-content-centerstyle">
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <div class="d-flex">
            <!-- Image Half -->
            <div class="w-50">
                <img src="/static/tailor.jpg" class="d-block w-100 h-100" alt="Tailor Tools" style="object-fit: cover;">
            </div>
            <!-- Text Half -->
            <div class="w-50 d-flex align-items-center bg-light text-dark p-4">
              <div>
                <h5>Tip #1: Tailor Your Resume</h5>
                <ul>
                  <li>Customize your resume for each job you apply to by highlighting the most relevant skills and experiences</li>
                  <li>Use keywords from the job description</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <div class="d-flex">
            <!-- Image Half -->
            <div class="w-50">
              <img src="/static/simple.jpg" class="d-block w-100" alt="Simple Image">
            </div>
            <!-- Text Half -->
            <div class="w-50 d-flex align-items-center bg-light text-dark p-4">
              <div>
                <h5>Tip #2: Keep it Concise</h5>
                <ul>
                  <li>Aim for a one-page resume</li>
                  <li>Use bullet points to present information clearly</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex">
            <div class="w-50">
              <img src="/static/professional.jpg" class="d-block w-100 h-100" alt="Tailor Tools" style="object-fit: cover;">
            </div>
            <!-- Text Half -->
            <div class="w-50 d-flex align-items-center bg-light text-dark p-4">
              <div>
                <h5>Tip #3: Use a Clean and Professional Design</h5>
                <ul>
                  <li>Use a simple and professional design to make your resume easy to read</li>
                  <li>Use bold and headings to differentiate sections</li>
                </ul>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  </div>

<div class="centered-list">
  <p></p>
  <h5>Recommended Resume Templates:</h5>
  <ul>
    <li><a href="https://utexas.app.box.com/s/iop8il17mkzdf8ty20m1z0fnpqdasvtn" aria-label="UT Austin Resume Template">UT Austin Resume Template</a></li>
    <li><a href="https://careercenter.unt.edu/resources/resume-and-cv-samples/" aria-label="UNT Resume and CV Templates">UNT Resume and CV Templates</a></li>
    <li><a href="https://resumegenius.com/resume-templates/basic-templates" aria-label="Basic and Simple Resume Templates">Basic and Simple Resume Templates</a></li>
  </ul>
</div>

<hr>

<h3>Cover Letter: Tips and Template</h3>
<div class="d-flex justify-content-center">
  <div class="w-75" justify-content-centerstyle">
      <div id="carouselExampleDark2" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="d-flex">
              <!-- Image Half -->
              <div class="w-50">
                  <img src="/static/introduction.jpg" class="d-block w-100" alt="Intro Definition" style="object-fit: cover;">
              </div>
              <!-- Text Half -->
              <div class="w-50 d-flex align-items-center bg-light text-dark p-4">
                <div>
                  <h5>Tip #1: Start with a Strong Introduction</h5>
                  <ul>
                    <li>Have a strong opening statement that emphasizes what skills you can bring to the table</li>
                    <li>Explain why you'd be a great fit for the job and company you are applying to</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="d-flex">
              <!-- Image Half -->
              <div class="w-50">
                <img src="/static/excited-at-work.jpg" class="d-block w-100" alt="Excited at work" style="object-fit: cover;">
              </div>
              <!-- Text Half -->
              <div class="w-50 d-flex align-items-center bg-light text-dark p-4">
                <div>
                  <h5>Tip #2: Convey Enthusiasm</h5>
                  <ul>
                    <li>Make it clear why you want the position</li>
                    <li>Maintain a professional and confident tone throughout your cover letter</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex">
              <div class="w-50">
                <img src="/static/simple.jpg" class="d-block w-100" alt="Simple image" style="object-fit: cover;">
              </div>
              <!-- Text Half -->
              <div class="w-50 d-flex align-items-center bg-light text-dark p-4">
                <div>
                  <h5>Tip #3: Keep it Short</h5>
                  <ul>
                    <li>Ideally it should be one page</li>
                    <li>Have a strong opening, highlight your qualifications and achievements, and close with a confident call to action</li>
                  </ul>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

<div class="centered-list">
  <p></p>
  <h5>Recommended Cover Letter Templates:</h5>
  <ul>
    <li><a href="https://create.microsoft.com/en-us/template/basic-modern-cover-letter-7cd2d38a-3d64-4727-a38a-925aa8869770" aria-label="Windows Cover Letter Template">Windows Cover Letter Template</a></li>
    <li><a href="https://careercenter.unt.edu/resources/resume-and-cv-samples/" aria-label="UNT Resume and CV Templates">UNT Resume and CV Templates</a></li>
  </ul>
</div>
  
{% endblock %}